
@import url('https://fonts.googleapis.com/css?family=Fredoka:700|Noto Sans:400');
.card-vertical {
    background-color: var(--surface);
    border: 2px solid var(--border);
    border-radius: 30px;
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-vertical:hover, .card-horizontal:hover, .footer:hover,
.card-vertical:focus, .card-horizontal:focus, .footer:focus {
  transition: border .2s;
  border: 2px solid var(--accent)
}

.card-horizontal {
    background-color: var(--surface);
    border: 2px solid var(--border);
    border-radius: 30px;
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2px
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px
}

@media only screen and (min-width: 768px) {
    @supports (animation-timeline: view(block)) {
        .appear {
          animation: appear .5s linear;
          animation-timeline: view(block) !important;
          animation-range: cover 0% cover 100%;
        }
    }
}

@media only screen and (max-width: 768px) {
  .horizontal-flex, .card-horizontal {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@keyframes appear {
  0% {
    opacity: 0.3;
    translate: -5rem 0rem 
  }

  30% {
    opacity: 1;
    translate: 0 0
  }

  60% {
    opacity: 1;
    translate: 0 0
  }

  100% {
    opacity: 0.3;
    translate: -5rem 0rem 
  }
}

.button-secondary {
  background-color: var(--secondary);
}

button {
  padding: 0.5em;
  border-radius: 10px;
  font-size: 1.3em;
  border: none;
  background-color: var(--accent);
}

.button-primary {
  background-color: var(--primary);
  color: var(--secondary);
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Noto Sans", Inter, Sans;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

#__nuxt {
  display: flex;
  flex-direction: column;
}

h1,h2,h3,h4,h5,h6,p,span {
  margin: 0
}

body {
  font-family: 'Noto Sans';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Fredoka';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.dark-mode {
  --text: #f1e0fa;
  --background: #0c0311;
  --primary: #bf9ad5;
  --secondary: #151018;
  --accent: #816293;
  --surface: rgb(191 154 213 / 15%);
  --surface2: color-mix(in srgb, var(--surface) 50%, transparent);
  --border: rgb(191 154 213 / 5%)
}

.light-mode {
  --text: #16051f;
  --background: #f7eefc;
  --primary: #4f2a65;
  --secondary: #ece7ef;
  --accent: #8b6c9d;;
  --surface: rgb(79 42 101 / 15%);
  --surface2: color-mix(in srgb, var(--surface) 50%, transparent);
  --border: rgb(79 42 101 / 5%);
}