@import url('https://fonts.googleapis.com/css?family=Fredoka:700|Noto Sans:400');

@tailwind base;
@tailwind components;
@tailwind utilities;

a, a:link, a:visited {
  @apply no-underline text-slate-50 transition-all
}

.linkbutton {
  @apply hover:scale-125
}

body {
  cursor: url('/pointers/pointer.png'), auto;
}

a, button {
  cursor: url('/pointers/select.png'), auto;
}

@keyframes appear {
  0% {
    opacity: 0.3;
    translate: -5rem 0rem 
  }

  30% {
    opacity: 1;
    translate: 0 0
  }

  60% {
    opacity: 1;
    translate: 0 0
  }

  100% {
    opacity: 0.3;
    translate: -5rem 0rem 
  }
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Noto Sans", Inter, Sans;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

#__nuxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  width: 100dvw;
  height: 100dvh
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: 'Noto Sans';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Fredoka';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

@layer theme {
  .dark {
    --bg: theme(colors.gray.950);
    --text: theme(colors.slate.50);
    --surface: theme(colors.gray.900);
    --border: theme(colors.gray.800);
    @apply bg-bg text-text
  }
  .light {
    --bg: theme(colors.zinc.100);
    --text: theme(colors.slate.900);
    --surface: theme(colors.gray.300);
    --border: theme(colors.gray.400);
    @apply bg-bg text-text
  }
}